.filter {
  margin-left: 20px;
  margin-right: 20px;
}

.Reviews li {
  transition: transform 0.1s ease-in-out;
}

.Reviews li:hover {
  transform: skew(-2deg, 0deg);
}

.reviewLink {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--coral-black);
}

.reviewLink:hover {
  color: var(--raisin-black);
}
